.body{
    background: var(--gray--900);
    color: var(--white);
}


.contentContainer{
    max-width: 1120px;
    margin:  0 auto;
    padding: 0 2rem;
    height: calc(100vh - 5rem);//terá 100% da altura da tela do pc - menos a altura do header que é 5rem 😉

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero{
    max-width: 600px;

    >span{//pega o span que está dentro do hero
        font-size: 1.5rem;
        font-weight: bold;
    }

    h1{
        font-size: 4.5rem;
        line-height: 4.5rem;
        font-weight: 900;
        margin-top: 2.5rem;
        
        span{
            color: var(--cyan-500);
        }
    }

    p{
        font-size: 1.5rem;
        line-height: 2.5rem;
        margin-top: 1.5rem;

        span{
            color: var(--cyan-500);
            font-weight: bold;
        }
    }
    button{
        margin-top: 2.5rem;
    }
}

#light{
    background: var(--white--50);
    color: var(--black);
    div>section>h1>span{
        color: var(--cyan-700);
    }
    div>section>p>span{
        color: var(--cyan-700);
    }
}