.headerContainer{
    height: 5rem;
    border-bottom: 1px solid var(--gray-800);

    background: var(--gray--900);
    color: var(--white);
}

.tooggle{
    background: transparent;
    height: 40px;
    width: 40px;
    border: 2px solid var(--cyan-500);
    border-radius: 0.25rem;

    position: absolute;
    top: 1.4rem;
    right: 15rem;
    img{
        height: 30px;
        width: 30px;
    }
}

.headerContent{
    max-width: 1120;
    height: 5rem ;
    margin: 0 auto;
    padding: 0 2rem;

    display: flex;
    align-items: center;

    nav{
        margin-left: 5rem;
        height: 5rem;

        a{
            display: inline-block;
            position: relative;
            padding: 0 0.5rem;
            height: 5rem;
            line-height: 5rem;
            color:var(--gray-300);

            transition: color 0.2s;

            & + a {
                margin-left: 2rem;
            }

            &:hover{
                color: var(--white);
                font-weight: bold;
            }
            &.active::after{
                content: '';
                height: 3px;
                border-radius: 3ps 3ps 0 0;
                width: 100%;
                position: absolute;
                bottom: 1px;
                left: 0;
                background: var(--yellow-500);
                 
            }
        }
    }

    button{
        margin-left: auto;
    }
}

#light{
    background: var(--white--50);
    color: var(--black);

    a:hover{
        color: var(--black);
        font-weight: bold;
    }
}